<portfolio-particles>
    <div class="skills">
        <h2>Tech Skills</h2>
        <div class="skills__badges">
            <portfolio-tech-badge></portfolio-tech-badge>
            <portfolio-tech-badge></portfolio-tech-badge>
            <portfolio-tech-badge></portfolio-tech-badge>
            <portfolio-tech-badge></portfolio-tech-badge>
            <portfolio-tech-badge></portfolio-tech-badge>
            <portfolio-tech-badge></portfolio-tech-badge>
            <portfolio-tech-badge></portfolio-tech-badge>
        </div>
    </div>
</portfolio-particles>
