:host {
    display: block;
    height: 80vh;
}

.hero {
    margin: 0 auto;
    width: 750px;
    display: flex;
    flex-direction: column;
    text-align: center;

    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
