<div class="projects">
    <h3>Projects</h3>
    <portfolio-project>
        <!-- portfolio-project-image -->
        <img
            src="http://via.placeholder.com/400x400"
            alt=""
        />
        <portfolio-project-title>Foo Title</portfolio-project-title>
        <portfolio-project-actions>
            <button portfolio-button>Tis a button</button>
            <button
                portfolio-button
                type="secondary"
            >
                Tis also button
            </button>
            <span>Fake button</span>
        </portfolio-project-actions>
        this is content
    </portfolio-project>

    <portfolio-project>
        <!-- portfolio-project-image -->
        <img
            src="http://via.placeholder.com/400x400"
            alt=""
        />
        <portfolio-project-title>Foo Title</portfolio-project-title>
        <portfolio-project-actions>
            <button portfolio-button>Tis a button</button>
            <button
                portfolio-button
                type="secondary"
            >
                Tis also button
            </button>
            <span>Fake button</span>
        </portfolio-project-actions>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque cupiditate eius natus, sapiente asperiores placeat ut error qui dolores
        consequatur sunt, molestiae pariatur delectus. Facilis ut exercitationem, accusantium laudantium sed, consequuntur voluptas fugiat fuga nulla,
        deleniti aperiam dolorum omnis eaque odio cum ipsa voluptate quas voluptatum ea officiis voluptatem eius necessitatibus! Ratione voluptatum,
        nostrum animi eos totam tenetur! Eius adipisci reiciendis nostrum, iusto vel voluptatum magnam voluptate vero, non modi autem ea debitis nulla
        laboriosam, ex est molestias saepe ullam distinctio unde alias! Temporibus quae eius animi exercitationem ab reiciendis deleniti perferendis
        illo assumenda nihil accusamus, tenetur saepe repellat earum ipsa, facilis porro odio beatae rerum, error sapiente cupiditate! Debitis
        necessitatibus, repudiandae est nostrum in nesciunt porro voluptates dicta suscipit velit alias quis perspiciatis a placeat accusamus tenetur
        exercitationem excepturi. Fugiat debitis natus repellat maxime non, numquam et quidem quisquam porro perspiciatis consectetur ea nobis facilis
        praesentium rerum. Architecto, culpa!
    </portfolio-project>
</div>
